[submodule "sub/argoat"]
	path = sub/argoat
	url = https://github.com/nullgemm/argoat.git
[submodule "sub/configator"]
	path = sub/configator
	url = https://github.com/nullgemm/configator.git
[submodule "sub/dragonfail"]
	path = sub/dragonfail
	url = https://github.com/nullgemm/dragonfail.git
[submodule "sub/termbox2"]
	path = sub/termbox2
	url = https://github.com/termbox/termbox2.git
